* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand SC', cursive;
    color: white;
}

/* Componentes */
body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #8b5742;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.header {
    font-family: 'Patrick Hand SC', cursive;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

@media (max-width: 768px) {
    .h1 {
        font-size: 10px;
        font-weight: bold;
    }
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

.footer {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.item {
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 20rem;
    display: 3;
}

.item p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #8b5742;
}

/* Detalhes */
.barra-branca {
    width: 100%;
    height: 0.25rem;
    background-color: white;
    border: 0 solid white;
    border-radius: 1rem;
}

button {
    background-color: white;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0.5rem;
    transition: 0.5s;
    color: #8b5742;
    margin-top: 1rem;
    /* border: #4d3329 solid 0.3rem; */
}

button:hover {
    font-weight: bolder;
    font-size: 1.5rem;
}

button:active {
    background-color: #8b5742;
    color: white;
}

button a {
    text-decoration: none;
    color: #8b5742;
    font-weight: bolder;
}

img {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}


/* colunas 4 */
.container {
    display: grid;
    gap: 20px;
    /* Define o espaçamento entre as colunas */
}
.container.col-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.container.col-4 {
    grid-template-columns: repeat(4, 1fr);
}
.container.col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.container.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.column {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 0.5rem;
    /* border: #4d3329 solid 0.3rem; */
}
.column input {
    color: #8b5742;
    cursor: pointer;
    transition: 0.5s;
}
.column p {
    margin-top: 0.5rem;
    color: #8b5742;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.column input:hover {
    margin: 0.2rem;
}
.column input:active {
    background-color: #8b5742;
    color: white;
}
.column a {
    text-decoration: none;
    color: #8b5742;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}
/* Altera o layout para uma coluna no celular */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        /* Define apenas uma coluna */
    }
}
@media (max-width: 768px) {
    .container.col-5 {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 768px) {
    .container.col-4 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Textos */
.texto-intro {
    font-size: 1.3rem;
    font-weight: bold;
    color: #8b5742;
    margin: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
}
@media (max-width: 768px) {
    .texto-intro {
        margin: 0;
        text-align: justify;
    }
}

/* Resultado */
.resultado{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}